@import "tailwindcss";

html body {
    padding: 0;
    margin: 0;
    font-family: 'LowresPixel', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

@font-face {
    font-family: 'LowresPixel';
    src: url('./src/assets/LowresPixel-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Munro Small';
    src: url('./src/assets/MunroSmall-wPZw.ttf');
    font-weight: normal;
}

